.square {
  text-align: center;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
.compass {
  background-color: white;
}

.grass {
  background-color: greenyellow;
}

.grass2 {
  background-color: green;
}

.desert {
  background-color: coral;
}

.desert2 {
  background-color: rgb(216, 142, 115);
}

.sea {
  background-color: #0099FF;
}


.image {
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.mountain {
  background-image: url('../../statics/images/mountain.png');
}

.castle {
  background-image: url('../../statics/images/castle.png');
}

.city {
  background-image: url('../../statics/images/city.png');
}

.tree {
  background-image: url('../../statics/images/tree.png');
}

.boat {
  background-image: url('../../statics/images/boat.png');
}


.letter:before {
  padding: 5px 8px;
  border-radius: 500px;
}

.r:before {
  content: 'R';
  background-color: orangered;
}

.g:before {
  content: 'G';
  background-color: green;
}

.y:before {
  content: 'Y';
  background-color: yellow; 
}


.p:before {
  content: 'P';
  background-color: red;
}

.b:before {
  content: 'B';
  background-color: aquamarine;
}
